# Godot 4+ specific ignores
.godot/
/android/
*.pak
/assets/
.VSCodeCounter/
.vscode/
.qodo/
*.apk
*.uid
.qodo
*.ogg
*.WAV
*.wav
!assets/font.map
!assets/fonts/number.tres
!assets/ani
!assets/sub.yaml
